/* colors */
/* black : #2B283A;
reddish: #F55A5A;
gray: #918E9B;
lgray: #F5F5F5;
white: #FFFFFF; */
* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: "Inter", sans-serif;
}

.App {
  width: 550px;
  display: flex;
  flex-direction: column;
}

/* head */
.head {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  height: 55px;
  background-color: #f55a5a;
  color: #fff;
}

.head--logo {
  margin-right: 8px;
}

.head--title {
  font-size: 15px;
  font-weight: 500;
}

/* +++++++++++++++++++++++++++++++++++++ */
/* destination card */
.card {
  display: flex;
  margin: 30px auto;
  max-width: 470px;
  border-bottom: 1px solid #f5f5f5;
  padding-bottom: 25px;
}

/* image */
.image {
  width: 125px;
  height: 168px;
  border-radius: 4px;
}

/* card info */
.destination--info {
  margin-left: 20px;
}

.destination--country {
  display: flex;
  align-items: center;
}

.destination--country > h3 {
  margin: 0 12px 0 4px;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 2px;
}

a {
  text-decoration: underline;
  color: #918e9b;
  font-size: 10px;
}

.destination--country > p {
  font-size: 10px;
  font-weight: 400;
  color: #918e9b;
  text-decoration: underline;
}

.destination--tag {
  width: 7px;
  height: 9.55px;
}

.card--title {
  font-size: 25px;
  font-weight: 700;
}

.card--dates {
  font-size: 10.24px;
}

.card--description {
  font-size: 10.24px;
  color: #2b283a;
}
